body {
	width: 100%;
	font-family: texgyreheros, arial, helvetica, sans-serif;
	background-color: #ffdd00;
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #000000;
	position: fixed;
	width:100%;
}

li {
	float: left;
	border-right: 1px solid #696969;
}

list:last-child {
	border-right: none;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #11111;
}

div#main_div {
	padding-top: 30px;
	background-color: #FFFFFF;
	width: 60%;
	margin: 0 auto;
	min-height: 95%;
	overflow: auto;
}

div#impressum {
	background-color: #000000;
	color: #696969;
	position: fixed;
	bottom: 0;
	width: 100%;
}

h1 {
	text-align: center;
}