.container {
    overflow: hidden;
    background-color: #000000;
    position:fixed;
    width:100%;
}

.container a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 5px 10px;
	text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 5px 10px;
    background-color: inherit;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: #ffdd00;
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ffdd00;
}

.dropdown:hover .dropdown-content {
    display: block;
}