div#beschreibung{
	padding-top: 30px;
	padding-left: 50px;
	padding-right: 50px;
}

div#trainingszeit{
	padding-left: 50px;
	padding-top: 30px;
	float:left;
	padding-bottom: 30px;
}

div#ansprechpartner{
	text-align:center;
	padding-top: 30px;
}

img#herren1img,img#damen1img,img#herren2img,img#jugendimg {
	max-width:90%;
	display: block;
	margin: auto;
}