.sistable {
border-collapse: collapse;
width: 90%;
margin-left: auto;
margin-right: auto;
}
  
.sistable th {
background-color: #000000;
color: #ffffff;
font-weight:bold;
padding: 0.5em;
}
.sistable td {
padding: 0.5em; 
}
.sistable tr.sisrow1 {
background-color: #A9A9A9;
color: #222222;
}
.sistable tr.sisrow2 {
background-color: #d3d3d3;
color: #222222;
}
.sistable tr.myteam {
background-color: #ffdd00;
font-weight:bold;
color: black;
} 